*{
  padding: 0;
  margin:0;
}

.bg-img{
  
  height: 100%;
  position: absolute;
  z-index: -1000;

}

.mario{
  bottom: 18%;
  position: absolute;
  left: 400px;
}

.marioRun{
  position: relative;
  visibility: hidden;
  margin-top: 27%;
  

}