<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="divs.css">
  <title>Document</title>
</head>

<body>
  <section>
    <div class="jedan"></div>
    <div class="dva"></div>
    <div class="tri"></div>
  </section>
  <main>
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </main>

  <footer>
    <div class="q"></div>
    <div class="w"></div>
    <div class="e"></div>
  </footer>
</body>

</html>