<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="float.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="container">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Blog</li>
      </ul>
    </div>
  </nav>
  <main>
    <img src="./img/photo-1642520175002-90a1168a0d57.avif" alt="">
    <img src="./img/photo-1660595637102-a045bb82bdc3.avif" alt="">
  </main>
  <section>
    <div class="red">
      <div>
        <div class="kocka"></div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
          recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
          doloremque assumenda perspiciatis consequuntur.</p>
      </div>
    </div>
    <div>
      <div class="kockaDva"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
        recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
        doloremque assumenda perspiciatis consequuntur.</p>
    </div>
    </div>
    <div class="linkovi">
      <a href="">Rebulding slack.com</a><br>
      <hr>
      <a href="">Zasto bootcamp format?</a><br>
      <hr>
      <a href="">React - prozor u svet web aplikacija</a><br>
      <hr>
      <a href="">Najvece zablude o programerima u Srbiji</a>
      <hr>
    </div>

    </div>
  </section>
  <section>
    <div class="red">
      <div>
        <div class="kockaJedan"></div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
          recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
          doloremque assumenda perspiciatis consequuntur.</p>
      </div>
    </div>
    <div>
      <div class="kockaDva"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
        recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
        doloremque assumenda perspiciatis consequuntur.</p>
    </div>
    <div>
      <div class="kockaTri"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
        recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
        doloremque assumenda perspiciatis consequuntur.</p>
    </div>
  </section>
  <section>
    <div class="red">
      <div>
        <div class="kockaCetri"></div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
          recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
          doloremque assumenda perspiciatis consequuntur.</p>
      </div>
    </div>
    <div>
      <div class="kockaPet"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
        recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
        doloremque assumenda perspiciatis consequuntur.</p>
    </div>
    <div>
      <div class="kockaSest"></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi est, iste officiis mollitia molestiae
        recusandae voluptas ipsam numquam eaque! Cupiditate excepturi expedita architecto quos reiciendis aperiam
        doloremque assumenda perspiciatis consequuntur.</p>
    </div>
  </section>
  <footer></footer>
</body>

</html>