<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <h1>Position</h1>
  <section id="#">
    <p class="jedan">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores placeat? Asperiores placeat eius
      dolores inventore aliquid sed nemo rem libero. Atque minus consequuntur impedit fugiat unde omnis natus repellat.
      <img class='prva' src="./img/photo-1664498302451-81ba4b440911.avif" alt="">
    </p>
    <p class="dva">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores placeat? Asperiores placeat eius
      dolores inventore aliquid sed nemo rem libero. Atque minus consequuntur impedit fugiat unde omnis natus repellat.
      <img class='druga' src="./img/photo-1666620792405-9076ec102c03.avif" alt="">
    </p>
    <p class="tri">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores placeat? Asperiores placeat eius
      dolores inventore aliquid sed nemo rem libero. Atque minus consequuntur impedit fugiat unde omnis natus repellat.
      <img class='treca' src="./img/photo-1666803685534-b24a8b3237a2.avif" alt="">
    </p>
    <p class="text"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur sequi fuga quidem, doloremque
      facere,
      molestiae dignissimos suscipit, quasi asperiores voluptas temporibus aliquid nam soluta adipisci itaque odio alias
      deleniti ratione.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos suscipit dolorum necessitatibus
      aspernatur
      eveniet amet nesciunt, quam cupiditate omnis sapiente nulla id, quia reiciendis. Odit culpa necessitatibus
      repellendus a.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos suscipit dolorum necessitatibus
      aspernatur
      eveniet amet nesciunt, quam cupiditate omnis sapiente nulla id, quia reiciendis. Odit culpa necessitatibus
      repellendus a.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos suscipit dolorum necessitatibus
      aspernatur
      eveniet amet nesciunt, quam cupiditate omnis sapiente nulla id, quia reiciendis. Odit culpa necessitatibus
      repellendus a.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos suscipit dolorum necessitatibus
      aspernatur
      eveniet amet nesciunt, quam cupiditate omnis sapiente nulla id, quia reiciendis. Odit culpa necessitatibus
      repellendus a.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos suscipit dolorum necessitatibus
      aspernatur
      eveniet amet nesciunt, quam cupiditate omnis sapiente nulla id, quia reiciendis. Odit culpa necessitatibus
      repellendus a.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga animi ipsam facere corrupti
      repudiandae et!
      Accusantium maiores soluta delectus distinctio repudiandae, eveniet totam porro commodi ullam expedita quam ex ab
      cum? Mollitia autem debitis voluptate quibusdam nisi velit placeat beatae voluptatem veritatis laudantium ea
      dignissimos aspernatur molestiae, magnam repellendus recusandae corporis porro quia iste dolorem, corrupti minus?
      Suscipit hic magnam alias eaque ipsam? Assumenda odio consequatur vitae ratione esse. Soluta a tempore explicabo
      est, voluptatibus vel, adipisci suscipit fuga ut impedit aliquam unde tempora magnam vitae! Ad consequatur qui
      minima. Explicabo quae voluptates earum accusamus quo quam vero cupiditate quidem.</p>

  </section>
  <a href="#">Go back</a>

</body>

</html>