p.one{
  color: darkturquoise;
  background-color: #ccf4f5;
  opacity: 0.5;
  font-family: 'Roboto_Condensed' !important;
}
h1{
  font-family: 'Roboto Mono';
}

p.two{
  color: rgba(209, 0, 164,0.5);
  background-color: rgb(225, 181, 213);
  font-style: oblique;
}
p.three{
  color: #18d100;
  background-color: rgb(181, 225, 188);
}

span{
  font-size: 30px;
  font: italic;
 }
img.bg{
  opacity: 0.1;
}
.karaburma{
  background: rgba(200, 0, 255,0.1)
}
tr:first-child{
  background-color: aliceblue;
}

tr:nth-last-child(4){
  background-color: hotpink;
}

tr:nth-last-child(2){
  background-color: green;
}

tr:nth-last-child(3){
  background-color:red
}
tr:nth-last-child(1){
  background-color:rgb(200, 0, 255)
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}
@font-face {
  font-family: 'Roboto_Condensed';
  src: url(./Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
