* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

@font-face {
  font-family: roboto-black;
  src: url(./assets/fonts/Roboto-Black.ttf); }
@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf); }
main {
  background-image: url(./assets/images/banner3.jpg);
  text-transform: uppercase;
  color: white;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover; }
  main h1 {
    font-family: roboto-regular;
    font-size: 36px;
    letter-spacing: 5px; }

.naslov {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0; }

span {
  color: #f19b2b;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  padding: 5px; }

.logo {
  color: white; }

header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px;
  position: absolute;
  width: 100%; }

button.read {
  width: 200px;
  align-self: center;
  background-color: #53a2e0;
  color: white;
  border-radius: 50px;
  border: none;
  height: 40px;
  margin-top: 20px; }

main {
  margin-bottom: 20px;
  width: 100%;
  bottom: 1%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

ul {
  color: white;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none; }
  ul a {
    color: white;
    font-size: 14px;
    font-family: roboto-black; }
  ul p {
    padding: 15px 0px;
    font-family: roboto-regular; }

.ikona {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px; }

.linija {
  width: 100px;
  height: 1px;
  background-color: black; }

.kocka {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  transform: rotate(45deg); }

.container {
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding: 0 80px 0 80px;
  gap: 20px; }

.baner {
  width: -webkit-fill-available; }

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-grow: 0.5;
  justify-content: none; }

h3 {
  padding: 20px 0px;
  text-transform: capitalize;
  color: #53a2e0;
  font-family: roboto-regular; }

h2 {
  text-transform: capitalize;
  font-family: roboto-regular;
  font-size: 36px; }

p {
  padding: 15px 0px; }

.testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 80px; }
  .testimonial .one, .testimonial .two, .testimonial .three {
    background-color: #53a2e0; }
  .testimonial .name {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    justify-content: left; }
  .testimonial .slika {
    border-radius: 100%;
    border: 1px solid white;
    width: 80px;
    padding: 5px; }
  .testimonial .tekst {
    color: white;
    padding: 0 20px 20px; }

.star {
  color: white; }

h4 {
  text-transform: uppercase;
  font-family: roboto-black; }

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px; }
  .row .contact-us, .row .connect-us, .row .address, .row .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3bdd9a;
    justify-content: flex-start;
    padding-top: 50px;
    gap: 20px;
    width: 25%;
    text-transform: uppercase;
    align-items: center;
    color: white; }
  .row .connect-us {
    background-color: #fd5282;
    gap: 50px; }
  .row .address {
    background-color: #376de4; }
  .row .home {
    background-color: #82c3f5; }

.email {
  display: flex;
  align-items: center; }

.mobile {
  display: flex;
  flex-direction: row;
  align-items: center; }

.icons {
  color: white;
  display: flex;
  gap: 25px; }

.icon-contact {
  color: white;
  padding: 5px; }

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-transform: none; }

a {
  color: white; }

.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mail form {
    display: flex;
    flex-direction: row;
    gap: 20px; }
  .mail .text-area {
    display: flex;
    flex-direction: column;
    padding-top: 20px; }
  .mail input {
    height: 35px;
    padding-left: 10px; }

textarea {
  padding-left: 10px;
  padding-top: 10px; }

button.submit {
  background-color: #f19b2b;
  width: 100px;
  border: none;
  color: white;
  height: 30px; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  height: 100px;
  margin-top: 20px; }
  footer .footer {
    color: white; }

button:hover {
  cursor: pointer; }

@media (max-width: 1100px) {
  h1 {
    text-align: center; }

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); }

  .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr; }

  .contact-us, .row .connect-us, .row .address, .row .home {
    width: auto !important; }

  .connect-us {
    width: auto; }

  .address {
    width: auto; }

  .home {
    width: auto; }

  .testimonial {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); }

  p.treca-kolona {
    width: 650px; } }
@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px; }

  .linkovi {
    background-color: #53a2e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px; }

  .logo span {
    border-color: grey; }

  .logo {
    color: grey;
    font-size: 30px; }

  main {
    height: 600px;
    width: 110%; }

  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }

  .testimonial {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }

  form {
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 80%; } }
@media (max-width: 600px) {
  .linkovi {
    width: 100%; }

  .row {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }

  p.treca-kolona {
    width: auto; }

  main {
    width: auto; } }

/*# sourceMappingURL=index.css.map */
